/*
    Le style que j'écris ici est un style global (tous les composants en hériteront)
    Le style que j'écris dans un composant en particulier écrit par-dessus le style global écrit dans ce fichier.
*/

div {
    width: 200px;
    height: 200px;
    background-color: salmon;
}
